
.card-container{
 display: flex;
 overflow: hidden;
}
.card-row{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 9px 20px 9px 20px;
  margin-bottom: 0px;
  background: #ffffff;
  box-shadow: 1px 1px 1px #dfdfdf;
  box-sizing: border-box;
  height: 100% !important;
}


img{
width: 300px;
height: 300px;
object-fit:fill;

}

.btn-success{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color:#63C28D;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  }


/* end itemcart */
.container{
  background-color: rgba(0, 0, 255, 0.197);
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;


}

.image {
padding: 0;
box-sizing: border-box;
border-radius: 12px;
}

.plus {
padding-left: 1px;
font-size: 20px;
font-weight: 600;
box-sizing: border-box;
background-color: white;
padding-left: 1rem;

}

.minus {
font-size: 20px;
font-weight: 600;   
box-sizing: border-box;
border-radius: 18px;
padding-right: 2rem;
background-color: white;
}

.space {
padding-left: 2rem;
}
.spaceplus {
padding-right: 2rem;
}

.price {
font-size: 20px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #383838;
font-weight: 600;
}
hr {
border-width: 2px;
}
.delivery{
font-size: 15px;
padding-left: 0rem;
padding-top: 1rem;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.clear {
background-color: #63C28D;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-top: 20px;
}
.empty {
padding-top: 3rem;
}
.td {
padding-top: 8rem;
padding-right: 2px;
width: 200px;
}

.shopping{
  margin-left: 20rem;
  margin-top: 10rem;
}
.button-container{
display: grid;
grid-template-columns: 1fr 1fr;
margin: 0 auto;
margin-left: 10px;
gap: 50px;


}

.fakecart{
padding: 15px 25px;
border-style: solid;
border-width: 1px;
box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.1);
background-color: green;

}

.emptyimg{
border-bottom: none;
margin: 0 auto;
margin-left: 20%;
}



































































