
.login-container{
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: flex;
    flex-direction: column;
    width:80%;
    margin: 0 auto;
    margin-top: 10rem;
  } 
  .form-cont{
    display: flex;
    flex-direction: row;
    
  }
  .input-login{
    height: 20%;
    width: 99%;
    
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
 label {
    font-size: 20px;
    margin-left: 15px;
    
} 

#connecter{
    background-color: rgb(111, 173, 180);
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 73rem;
}
#forget-password{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 17px;
}