#container{
    padding: 24px;
    border-radius: 3px;
    border-style:solid;
    border-color: rgb(184, 184, 184);
    border-width:1px;
    width: 70%;
}
#section1{
    padding: 16px;
    margin: 0 auto;

}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin: 0 auto;
}

.form-label{
    margin-left: 1rem;
    font-size: 20px;
}
.label-delivery{
    margin-left: 22px;
    font-size: 20px;

}
.form-control{
    margin: 10px;
    font-size: 20px;
    padding: 10px;
    cursor: text;
}
#title{
font-size: 18px;

}
#send{
    width: 400px;
    height: 55px;
    margin: 15px;
    border-radius: 3px;
    font-size: 20px;
    background-color:#24262b;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
#text {
    font-size: 18px;
}